<template>
    <div class="card">
      <div class="card-header text-white bg-primary">
        <h3>Perfil</h3>
      </div>
      <div class="card-body">
        <form role="form">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
              <input type="text" placeholder="first name" class="form-control" value.bind="contact.firstName">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Apellido</label>
            <div class="col-sm-9">
              <input type="text" placeholder="last name" class="form-control" value.bind="contact.lastName">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Correo electrónico</label>
            <div class="col-sm-9">
              <input type="text" placeholder="email" class="form-control" value.bind="contact.email">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Número de teléfono</label>
            <div class="col-sm-9">
              <input type="text" placeholder="phone number" class="form-control" value.bind="contact.phoneNumber">
            </div>
          </div>
        </form>
        <div>
          <button class="btn btn-success float-right" click.delegate="save()" disabled.bind="!canSave">Guardar</button>
      </div>
      </div>
    </div>
  </template>